<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ALGOVENTURE - MINDS</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/0d2dab4ce0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/eventDescStyle.css" />
    <link rel="stylesheet" href="./css/navBar.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r121/three.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.waves.min.js"></script>
    <link rel="shortcut icon" href="/images/MindsLogowhitefin.png" type="image/x-icon">
</head>

<body>
    <%- include('notifications') %> <%- include('navBar') %>
            <div class="container vanta-bg-event">
                <br><br>
                <header class="header">
                    <h1>ALGOVENTURE</h1>
                    <marquee class="marqueedesk" behavior="" direction="">Hunt the Clues, Build the Logic, Code to
                        Victory!
                    </marquee>
                    <p class="marqueemob">Hunt the Clues, Build the Logic, Code to Victory!</p>
                    <p class="para-indent">
                        In this event, problem-solving skills and logical thinking will be put to the test. Participants
                        will be given algorithm fragments and must retrieve, reconstruct, and implement them within the
                        given time. The evaluation will be based on accuracy and speed. Teams that qualify for the next
                        round will advance through progressively challenging tasks. The team that completes the final
                        task first will be declared the winner.
                    </p>
                    <div class="social-container">
                        <i class="fa-regular fa-envelope"></i> &nbsp;23mx118@psgtech.ac.in<br />
                    </div>
                </header>
                <div class="main-content">
                    <div class="agenda">
                        <h2>Event Details</h2>

                        <div class="sessions">
                            <div class="session">
                                <span class="session-head">Round 1 : CLUE MINING</span>
                                <ul>
                                    <li>
                                        This round consists of algorithm fragments hidden within files and folders.
                                    </li>
                                    <li>
                                        Participants will be given clues to locate and retrieve all the pieces.
                                    </li>
                                    <li>
                                        Teams that successfully collect all fragments within the stipulated time will be
                                        selected for the next round.
                                    </li>
                                </ul>

                                <span class="session-head">Round 2 : ALGORITHM RECONSTRUCTION</span>
                                <ul>
                                    <li>
                                        In this round, the retrieved algorithm fragments will be presented in a shuffled
                                        order.
                                    </li>
                                    <li>
                                        Teams must analyze and arrange the pieces correctly to form a meaningful
                                        and functional algorithm.
                                    </li>
                                    <li>
                                        The teams that successfully reconstruct the algorithm
                                        within the given time will move on to the final round.
                                    </li>
                                </ul>

                                <span class="session-head">Round 3 : CODE IMPLEMENTATION </span>
                                <ul>
                                    <li>
                                        In the final round, teams must implement the reconstructed algorithm using
                                        Notepad, without the help of any IDEs or syntax-highlighting tools.
                                    </li>
                                    <li>
                                        The team that successfully writes and executes the correct program first will be
                                        declared the winner.
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="details">
                        <div class="register" id="registerButton">
                            <h2>Register Here!</h2>
                            <div id="button-container" class="hidden">
                                <button class="reg-buttons" onclick="register2('AlgoVenture')">
                                    Create Team
                                </button>
                                <div class="btn-line"></div>
                                <button class="reg-buttons" onclick="window.location.href='/myevent'">
                                    Join Team
                                </button>
                            </div>
                        </div>
                        <div class="info">
                            <div class="team-size">
                                <h3>Team size:</h3>
                                <p>2</p>
                            </div>
                            <div class="date">
                                <h3>01st MAR</h3>
                                <p>(9 AM - 12 PM)</p>
                            </div>
                        </div>
                        <div class="contact">
                            <h2>Contact</h2>
                            <p>
                                Mohan B<br />
                                9597882565
                            </p>
                        </div>
                    </div>
                </div>
                <footer>
                    <h2>Rules</h2>
                    <ol type="number">
                        <li>
                            Any form of malpractice will lead to disqualification, and the
                            organizers have all the rights to disqualify anyone without any
                            prior notice.
                        </li>
                    </ol>
                </footer>
            </div>
            <script>
                function applyVantaBackground() {
                    const element = document.querySelector(".vanta-bg-event");

                    if (window.innerWidth > 600) {
                        VANTA.WAVES({
                            el: ".vanta-bg-event",
                            mouseControls: true,
                            touchControls: true,
                            gyroControls: true,
                            minHeight: 200.0,
                            minWidth: 200.0,
                            scale: 1.0,
                            scaleMobile: 1.0,
                            color: 0x50519,
                            shininess: 15.0,
                            waveHeight: 20.0,
                            waveSpeed: 0.3,
                            zoom: 0.6,
                        });
                    } else {
                        element.classList.remove("vanta-bg-event");
                    }
                }

                window.onload = applyVantaBackground;
                window.onresize = applyVantaBackground;

            </script>
            <script src="./js/eventRegister.js"></script>
            <script src="./js/showNotification.js"></script>
</body>

</html>