<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> DESIGNX - MINDS</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/eventDescStyle.css">
    <link rel="stylesheet" href="./css/navBar.css">
    <script src="https://kit.fontawesome.com/0d2dab4ce0.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r121/three.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.waves.min.js"></script>
    <link rel="shortcut icon" href="/images/MindsLogowhitefin.png" type="image/x-icon">
</head>

<body>
    <%- include('notifications') %>
    <%- include('navBar') %>
    <div class="container vanta-bg-event">
        <br><br>
        <header class="header">
            <h1> DESIGNX </h1>
            <marquee class="marqueedesk" behavior="" direction="">Unleash your creativity at DesignX</marquee>
            <p class="marqueemob"> Unleash your creativity at DesignX</p>
            <p class="para-indent">DesignX is an exciting design challenge where creativity meets 
                style! Participants will receive a problem statement and must create a webpage design
                 in Figma based on the given requirements whose designs meet the given requirements 
                 and emphasize usability and good design will be awarded prizes.
                 </p>

            <div class="social-container">
                <i class="fa-regular fa-envelope"></i> &nbsp;23mx226@psgtech.ac.in<br />
                <i class="fa-regular fa-envelope"></i> &nbsp;23mx218@psgtech.ac.in<br />
            </div>
        </header>
        <div class="main-content">
            <div class="agenda">
                <h2>Event Details</h2>

                <div class="sessions">
                    <div class="session">
                        <span class="session-head">Round 1 :</span>
                        <ul>
                            <li>Participants must design a webpage in Figma based on the given topic.</li>
                            <li>The design should be visually appealing, user-friendly, and well-structured.</li>
                            <li>Creativity, usability, and adherence to the topic will be evaluated.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="details">
                <div class="register" id="registerButton">
                    <h2>Register Here!</h2>
                    <div id="button-container" class="hidden">
                        <button class="reg-buttons" onclick="register2('DesignX')">
                            Create Team
                        </button>
                        <div class="btn-line"></div>
                        <button class="reg-buttons" onclick="window.location.href='/myevent'">
                            Join Team
                        </button>
                    </div>
                </div>
                <div class="info">
                    <div class="team-size">
                        <h3>Team size:</h3>
                        <p>2</p>
                    </div>
                    <div class="date">
                        <h3>01st MAR</h3>
                        <p>(9 AM - 12 PM)</p>
                    </div>
                </div>
                <div class="contact">
                    <h2>Contact</h2>
                    <p> Sivaraman B <br> 6385524100 </p>
                    <p>Prem Balaji N <br> 7667115858 </p>
                </div>
            </div>
        </div>
        <footer>
            <h2>Rules</h2>
            <ol type="number">
                <li> Participants may use resources such as images, illustrations, and plugins to enhance their designs.</li>
                <li>However, all submissions must be original and must not replicate existing UI designs found on the web.</li>
                <li>The design must be submitted in PDF format via the provided link upon completion.</li>
                <li>Additionally, participants must include a separate page listing all the resources they have used.</li>
            </ol>
        </footer>
    </div>
    <script>
        function applyVantaBackground() {
            const element = document.querySelector('.vanta-bg-event');

            if (window.innerWidth > 600) {
                VANTA.WAVES({
                    el: ".vanta-bg-event",
                    mouseControls: true,
                    touchControls: true,
                    gyroControls: true,
                    minHeight: 200.00,
                    minWidth: 200.00,
                    scale: 1.00,
                    scaleMobile: 1.00,
                    color: 0x50519,
                    shininess: 15.00,
                    waveHeight: 20.00,
                    waveSpeed: 0.30,
                    zoom: 0.6
                });
            } else {
                element.classList.remove('vanta-bg-event');
            }
        }

        window.onload = applyVantaBackground;
        window.onresize = applyVantaBackground;


    </script>
    <script src="./js/eventRegister.js"></script>
    <script src="./js/showNotification.js"></script>
</body>

</html>