<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="./css/register.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="shortcut icon" href="/images/MindsLogowhitefin.png" type="image/x-icon">

</head>
<body>
    <%- include('notifications') %>
    <div class="wrapper">
        <div class="container">
            <!-- <object data="./images/primaryanimatedlogo.svg" type="image/svg+xml" class="login-logo"></object> -->
             <img src="./images/MindsLogowhitefin.png" alt="Minds 2025" class="login-logo">
            <!-- <div class="heading">Sign In</div> -->

            <form id="loginForm" action="/login" method="POST">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required placeholder="Enter your Email">
                <span id="emailError" class="error-message">error</span>
                
                <label for="password">Password</label>
                <div class="password-container">
                <input type="password" id="password" name="password" required placeholder="Enter your Password">
                <span id="togglePassword" class="toggle-password">
                    <i class="fa-regular fa-eye" id="toggle1" onclick="togglePasswordVisibility()"></i>
                    <i class="fa-regular fa-eye-slash" id="toggle2" style="display: none;" onclick="togglePasswordVisibility()"></i>
                </span>
                </div>
                <span id="passwordError" class="error-message">error</span>
                
                <button type="submit" class="login-btn">Login</button>
                <p class="new-user">Haven't Registered yet?<a href="/register" class="register-link">Register</a></p>
            </form>
        </div>

    
        <!-- Bubbles -->
        <ul class="bg-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>

    </div>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const form = document.getElementById('loginForm');
        
            form.addEventListener('submit', async (event) => {
                event.preventDefault();
                const registerButton = event.target.querySelector('button[type="submit"]');
        
                const formData = new FormData(form);
                const data = Object.fromEntries(formData.entries());
                registerButton.disabled = true;
                registerButton.textContent = 'Logging In...';
        
                try {
                    const response = await fetch(form.action, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(data)
                    });
        
                    const result = await response.json();
                    
                    if (response.ok) {
                        window.location.href = '/'; 
                    } else {
                        showNotification(result.message,false);
                        registerButton.disabled = false;
                        registerButton.textContent = 'Login';
                    }
                } catch (error) {
                    console.error('Error:', error);
                    showNotification('An error occurred. Please try again later.', false);
                    registerButton.disabled = false;
                    registerButton.textContent = 'Login';
                }
            });
        });
        </script>
        


   <script src="./js/register.js"></script>
   <script src="./js/showNotification.js"></script>
</body>
</html>
