<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Registration</title>
    <link rel="stylesheet" href="./css/register.css">

    <!-- CSS for Select2 -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- JS for Select2 -->
    <script src="https://kit.fontawesome.com/0d2dab4ce0.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <link rel="shortcut icon" href="/images/MindsLogowhitefin.png" type="image/x-icon">

</head>

<body>
    <%- include('notifications') %>
        <div class="wrapper">

            <div class="container">

                <!-- <object data="./images/primaryanimatedlogo.svg" type="image/svg+xml" class="login-logo"></object> -->
                <img src="./images/MindsLogowhitefin.png" alt="Minds 2025" class="login-logo">

                <form id="registrationForm">
                    <!-- <p class="new-user">Are you an Alumni?<a href="/AlumniRegister" class="register-link">Register here!</a></p> -->

                    <div class="form-section active" id="section1">
                        <div class="heading">Student Registration</div>
                        <label for="email">Email Address</label>
                        <div class="input-button-container">
                            <input type="email" id="email" name="email" autofocus autocomplete="email" required
                                placeholder="Enter your Email">
                            <button onclick="sendVerificationEmail()">Send OTP</button>
                        </div>
                        <span id="emailError" class="error-message">error</span>

                        <label for="otp">OTP</label>
                        <div class="input-button-container">
                            <input type="text" id="otp" name="otp" placeholder="Enter OTP" required>
                            <button type="button" onclick="verify()">Verify</button>
                        </div>
                        <span id="otpError" class="error-message"></span>

                        <label for="password">Password</label>
                        <div class="password-container">
                            <input type="password" id="password" name="password" placeholder="Enter Password" required>
                            <span id="togglePassword" class="toggle-password">
                                <i class="fa-regular fa-eye" id="toggle1" onclick="togglePasswordVisibility()"></i>
                                <i class="fa-regular fa-eye-slash" id="toggle2" style="display: none;"
                                    onclick="togglePasswordVisibility()"></i>
                            </span>
                        </div>
                        <span id="passwordError" class="error-message">error</span>

                        <label for="confirmPassword">Confirm Password</label>
                        <input type="password" id="confirmPassword" name="confirmPassword"
                            placeholder="Enter Password Again" required>
                        <span id="confirmPasswordError" class="error-message">error</span>
                        <p class="new-user">Registered Already?<a href="/login" class="register-link">Sign in!</a></p>
                        <br>
                        <div class="bottom-buttons">
                            <div class="dummy"></div>
                            <button type="button" onclick="nextSection(1)">Next</button>
                        </div>
                        
                    </div>

                    <div class="form-section" id="section2">

                        <label for="studentName">Student Name</label>
                        <input type="text" id="studentName" name="studentName" required placeholder="Enter your Name">
                        <span id="studentNameError" class="error-message"></span>
                        <label for="rollNumber">Roll Number</label>
                        <input type="text" id="rollNumber" name="rollNumber" required placeholder="Enter your Roll Number">
                        <span id="rollNumberError" class="error-message"></span>
                        <label for="gender">Gender</label>
                        <select id="gender" name="gender" required>
                            <option value="">Select Gender</option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                            <option value="other">Other</option>
                        </select>
                        <span id="genderError" class="error-message"></span>
                        <label for="contactNumber">Contact Number</label>
                        <input type="tel" id="contactNumber" name="contactNumber" required
                            placeholder="Enter your Contact Number">
                        <span id="contactNumberError" class="error-message"></span>
                        <div class="bottom-buttons">
                            <button type="button" onclick="previousSection(2)">Previous</button>
                            <button type="submit">Register</button>
                        </div>
                    </div>
                </form>
            </div>


            <ul class="bg-bubbles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>

        </div> 
        <script src="./js/register.js"></script>

        
</body>

</html>