<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="./css/register.css">
    <script src="https://kit.fontawesome.com/0d2dab4ce0.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/images/loginPrimaryLogo.png" type="image/x-icon">
</head>

<body>
    <%- include('notifications') %>
    <div class="wrapper">
        <div class="container">
            <object data="./images/primaryanimatedlogo.svg" type="image/svg+xml" class="login-logo"></object>
            <h2 class="heading">Reset Password</h2>
            <form id="forgotPasswordForm" class="reset-container" onsubmit="return resetPassword(event)">
                <div id="emailMobileSection">
                    <div class="input-button-container reset-container">
                        <label for="email" class="reset-label">Email</label>
                        <input type="email" id="email" name="email" autofocus autocomplete="email" required placeholder="Enter your Registered Email">
                        <button type="button" onclick="sendOtp()">Send OTP</button>
                    </div>
                    <span id="emailError" class="error"></span>

                    <div class="input-button-container reset-container">
                        <label for="otp" class="reset-label">OTP</label>
                        <input type="text" id="otp" name="otp" required placeholder="Enter your OTP">
                        <button type="button" onclick="verifyOtp()">Verify</button>
                    </div>
                    <span id="otpError" class="error"></span>
                </div>

                <div id="passwordSection" style="display: none;">
                    <div class="form-group">
                        <label for="newPassword" class="reset-label">New Password</label>
                        <div class="password-container">
                            <input type="password" id="newPassword" name="newPassword" required placeholder="Enter your Password">
                            <span id="togglePassword" class="toggle-password">
                                <i class="fa-regular fa-eye" id="toggle1" onclick="togglePasswordVisibility()"></i>
                                <i class="fa-regular fa-eye-slash" id="toggle2" style="display: none;" onclick="togglePasswordVisibility()"></i>
                            </span>
                        </div>
                    </div>
                    <span id="passwordError" class="error"></span>

                    <div class="form-group">
                        <label for="confirmPassword" class="reset-label">Confirm Password</label>
                        <input type="password" id="confirmPassword" name="confirmPassword" required placeholder="Enter your Password Again">
                    </div>
                    <span id="confirmPasswordError" class="error"></span>
                    <button type="submit">Change Password</button>
                </div>
            </form>
        </div>

        <!-- Bubbles -->
        <ul class="bg-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>

    <script src="./js/resetpassword.js"></script>
    <script src="./js/showNotification.js"></script>
</body>
</html>
